<!doctype html>
<html lang="en" ng-app="TestFormModule">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<form name="myForm" ng-submit="save()" ng-controller="TestFormModule">
		<input name="userName" type="text" ng-model="user.userName" required />
		<input name="password" type="password" ng-model="user.password" required /> 
		<input type="submit" ng-disabled="myForm.$invalid" />
	</form>
</body>
<script src="js/angular-1.2.2/angular.min.js"></script>
<script src="app/FormBasic.js"></script>
</body>
</html>
